body  {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 350px;
  height: 190px;
  display: block;
}
.eletrica {
  width: 24px; 
  height: 24px; 
}

img[src$=".jpg,png,jpeg"] {
  border-radius: 10px;
}
